nav {
    max-width:180px;
    background: var(--dark);
    height: 100vh;
    overflow-y: auto;
}

.title{
    background-color: burlywood;
    color: var(--dark);
}

nav li{
    padding: 8px;
    color: white;
    cursor: pointer;
}

nav li:hover{
    background-color: var(--green);
}