<nav><h3>Traffic rate counter</h3></nav>
<div id="content" class="container-fluid">
  <div class="row">
    <div class="col-sm-4">

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Lyamda.</span>
        </div>
        <input type="number" class="form-control" v-model="lyamda">
      </div>

    </div>

    <div class="col-sm-4">
      
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">K</span>
        </div>
        <input type="number" class="form-control" v-model="k">
      </div>

    </div>

    <div class="col-sm-4">

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">myu</span>
        </div>
        <input type="number" class="form-control" v-model="myu">
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">U0</span>
        </div>
        <input type="number" class="form-control" v-model="u0">
      </div>

    </div>
    <div class="col-sm-4">

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">w</span>
        </div>
        <input type="number" class="form-control" readonly v-model="w">
      </div>

    </div>

    <div class="col-sm-4">

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">p</span>
        </div>
        <input type="number" class="form-control" readonly v-model="p">
        <button class="btn btn-success" @click="p = countP()">Count</button>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <button class="btn btn-primary" @click="makePoints()">Make graph</button>
      <button class="btn btn-warning">Reset</button>
    </div>
  </div>


  <canvas id="canvas"></canvas>

</div>